*{
    box-sizing: border-box;
}

body
{
    background-color: #f6f6ff;
}

.calculator
{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(147, 147, 147, 0.20);
    margin: auto;
    padding: 10px;
    width: 380px;
    
}

.calculator-keys
{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    
    gap: 6px 7px;
    margin: 7px 9px;
    width: 350px;
    height: 410px;
}

.calculator-keys > button
{
    
    border-radius: 10px;
    background-color: rgba(246, 246, 246, 0);
    box-shadow: 0 6px 20px 0 rgba(147, 147, 147, 0.19);
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

.calculator-keys > button:hover
{
    background-color: rgb(220, 220, 220);
}

.calculator-screen
{
    width: 330px;
    height: 120px;
    
    margin:10px 15px;
    
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
